* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "playfair";

}
#header {
    display: flex;
    justify-content: center;
    font-size: 13px;
}

div {
    align-items: center;
}
#header div img {
    width: 45px;
}

#atalho-top li {
    display: inline-block;
    margin: 16px 20px;
}

a {
    text-decoration: none;
    color: black;
}