.ti {
    text-align: center;
}



.item {
    text-align: center;
    margin: 5px;
    background-color: pink;
    border-radius: 7px;
    font-size: 20px;
}

.coluna {
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.linha {
    grid-template-rows: 200px 100px;
}